input {
    outline: none;
    border: none;
  }
  input:focus::placeholder {
    color: transparent;
  }
  
  .container-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
    min-height: 100vh;
  }
  
  .message {
    width: 550px;
    background: transparent;
    padding: 30px 0 80px 0;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), 0px 4px 8px rgb(0 0 0 / 5%);
  }
  
  .message-form {
    width: auto;
    margin: 10px 20px;
  }
  
  .message-form-title {
    display: block;
    font-size: 30px;
    color: #43383e;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 35px;
  }
  
  .message-input-field {
    width: auto;
    position: relative;
    background-color: #fff;
    margin-bottom: 17px;
    border-radius: 25px;
  }
  
  .input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 62px;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    color: #999999;
  }
  
  .input-field {
    display: flex;
    width: 100%;
    background: transparent;
    font-size: 15px;
    color: #43383e;
    line-height: 1.2;
    height: 62px;
    padding: 0 20px 0 58px;
  }
  
  .form-btn {
    display: block;
    background: #df2351;
    border-radius: 31px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 62px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  }
  