/* .nav-container {
  background-color: #3a3537;
}

.portal {
  font-size: 16px;
  color: #d8d7d7;
  align-self: center;
  font-weight: 800;
  margin-top: 10px;
} */

.login-bg {
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container {
  flex: 1 1 auto;
  backface-visibility: hidden;
  min-height: 100vh;
  max-width: 100%;
  justify-content: space-between;
}

.login-container {
  max-width: 374px;
  width: 100%;
  height: auto;
  background: #fff;
  margin: 48px auto;
  margin-top: 0px;
}
.logo {
  width: 100%;
  padding: 15px 0px 25px;
  text-align: center;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
input[type="text"],
input[type="password"] {
  background: #fff;
  border: 1px solid #9c9a9b;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  min-width: 240px;
  width: 100%;
  padding: 10px 15px;
  font-family: "Avenir Roman", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
  transition: 0.3s;
  font-size: 16px;
  color: #3a3537;
}

.forgot {
  color: #ea1b3c;
  text-decoration: none;
}

.ButtonFirst {
  border: 1px solid #ea1b3c;
  background: #ea1b3c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  outline: none;
  border-radius: 0;
  display: inline-flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  height: 40px;
  padding: 10px 12px;
}
input[type="submit"]:hover {
  background: #3a3537;
  border-color: #3a3537;
  color: #fff;
}
.ButtonOutline {
  border: 1px solid #ea1b3c;
  font-size: 16px;
  text-align: center;
  outline: none;
  border-radius: 0;
  display: inline-flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  height: 40px;
  padding: 10px 12px;
}
input[type="submit"].ButtonOutline:hover {
  border-color: #ea1b3c;
  background: #ea1b3c;
  color: #fff;
}

.footeremovepadding {
  margin-top: 0px;
  background: transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
}
footer {
  padding: 10px;
  background: #f2f2f2;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin-top: 50px;
  color: #9c9a9b;
}
