.bg-home-top {
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.home-mesage-h1 {
  margin-top: 40px;
}
h3 {
  font-size: 18px;
}
.strech-home {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.home-h1 {
  margin: 15px 0px 0px;
}

a.see-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  color: #ea1b3c;
}

.announcement-item {
  padding: 24px;
  display: flex;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), 0px 4px 8px rgb(0 0 0 / 5%);
  margin: 10px 0 30px 0;
  background-color: #fff;
}

.announcement-item,
.card-achievement {
  background: transparent;
}
